.App {
  text-align: center;

  button {
    background-color: green;
    font: inherit;
    color: #FFFFFF;
    border: 1px solid blue;
    padding: 8px;
    cursor: pointer;

    &:hover {
      background-color: lightgreen;
      color: black;
    }

    .showPersons {
      background-color: red;
    }
  }

  .red {
    color: red;

    &:hover {
      background-color: lightred;
      color: black
    }
  }

  .bold {
    font-weight: bold;
  }
}
